# GEMINI_API_KEY: Required for Gemini AI API calls bro
##find it thrrough panel in the AI Studio UI.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL" ##this sht is optional ignore it idk why even i m keepijng this garbage from messsho scam corportae like militech and arasaka they killed the evolutiaon and its a foreshadowing of our future we hell gonna witness that shit

if you do not have local set up then ignore this thing at all just do what you want to do or go sleep
#ALLOW_PRIVATE_RELAY_URLS=true

# ------------------------------------------------------------------------------
# DEFAULT PROVIDER (for deployments)
# jsut ignore it dude , you wpould get free model access if you open my link, ikr free for beggers
#DEFAULT_PROVIDER_BASE_URL=https://integrate.api.nvidia.com/v1 just freakin examples
#DEFAULT_PROVIDER_API_KEY=nvapi-xxxxxxxxxxxx
#DEFAULT_PROVIDER_MODEL=meta/llama-3.1-70b-instruct
